@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0d0d0d;
  color: #e3e3e3;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

/* Custom scrollbar for that super cool look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0d0d0d;
}

::-webkit-scrollbar-thumb {
  background: #383838;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #515151;
}